
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}
body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
    line-height: 1;
}

/* /header items/ */
header{
    width: 100%;
    height: 105px;
    background-image: linear-gradient(#909090, #A8A8A8);
    margin-bottom: 30px;
}

header li {
    margin: 0 16px;
}

nav > ul > li:nth-child(1) { 
    margin-right: 0px;
}

.home{
    width: 17px;
    position: relative;
    background: url(images/menu_home.png) no-repeat 0 0;
    display: inline-block;
    height: 17px;
    background-position: -17px top;
}

.faceboock{
    display: inline-block;
    position: relative;
    bottom: -5px;
    /* right: 20px; */
    width: 18px; 
    height: 18px;  
    background: url(images/fb_icon.png) no-repeat 0 0;
}

.sep {
    border-right: 1px solid lightgray;
    margin: 0;
} 

.contener_header {
    width: 900px;
    height: 105px;
    margin: 0 auto;
    position: relative;
}

.logo_div {
    position: absolute;
    bottom: -23px;
    right: -8px;
}

.input-warper {
    position: absolute;
    top: 20px;
    left: 10px;
}

#search{
    background-image: url("images/search_button.png") ;
    background-repeat: no-repeat;
    float: left;
    width: 19px;
    height: 19px;
    transform: translateY(9%);
}

input {
    border-radius: 0 10px 0 0;
    width: 126px;
    border-color: white;
}

#eng{
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 10px;

}

li {
    display: inline;
}

ul{
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding-inline-start: 0 !important;
}

nav{
    margin: o auto;
    position: relative;
    top: 72px;
    right: 8px;
    margin: 0px 127px 0 0;
}

nav > a{
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: grey;
    z-index: 99;
    background-image: linear-gradient(#A8A8A8,#909090, #909090);

}

.dropdown_content  a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: max-content;

}



a:hover{
    color: #005CA0;
    text-decoration: underline;
}

.dropdown:hover > .dropdown_content{
    display: block;
}


a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.low {
    font-size: 13px;
    color: #575757;
    margin-top: 0;
    line-height: 21px;
    border-bottom: 2px solid #ECECEC;
    text-align: right;
}
footer {
    width: 100%;
    height: 38px;
    background-image: linear-gradient(#A8A8A8, #909090, #A8A8A8);
    position: fixed;
    bottom: 0;
    text-align: center;
}

.contener {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
    /* background-color: #909090 ; */
}

/* .flex-contener {
    text-align: center;
} */

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.up_col {
    width: 293px;
    height: 355px;
    border-radius: 0 0 30px 0;
}

.low_col {
    width: 293px;
    height: 216px;
    border-radius: 0 30px 0 0;
    border: 2px #ECECEC solid;
    background-image: linear-gradient( #FFFFFF, #ECECEC);
    padding: 0 24px;
    box-sizing: border-box;
}

#one_one {
    background-image: url("images/1_1.JPG") ;
    background-repeat: no-repeat;
}

#one_two {
    background-image: url("images/1_2.jpg") ;
    background-repeat: no-repeat;
}

#one_three {
    background-image: url("images/1_3.jpg") ;
    background-repeat: no-repeat;
}

a.read_more {
    font-size: 13px;
    color: #72716d;
    float: left;
}

a.read_more > span {
    padding-left: 12px;
}

.a_wraper {
    margin-top: 15px;
}


#two_three > h3{
    margin-block-end: 0em;
}

#two_three > img{
    float: left;
}

.area_div {
    padding: 22px 0;
}

.area {
    /* float: none; */
    padding: 0 0 8px 0;
}
.area > span{
    /* margin-bottom: 10px; */
    /* float: right; */
    padding-left: 0 !important;
    text-align: right;
}


.footer_a {
    font-weight: normal;
    padding: 0 2px;
}

.footer_menu{
    margin-top: 10px;
}

footer li {
    color: white;
}

.red{
    color: red;
}

.faceboock{
    display: inline-block;
    position: relative;
    bottom: -5px;
    /* right: 20px; */
    width: 18px; 
    height: 18px;  
    background: url(images/fb_icon.png) no-repeat 0 0;
}


.tab {
    position: relative;
}

.fc {
    position: absolute;
    background-color: #7E7F7F;
    opacity: 0.93;
    left: 34px;
    bottom: 6px;
    height: 82px;
    width: 235px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 0 0 20px 0;
    padding: 10px 10px 5px 5px;
}

.fc p{
    font-weight: initial;
    padding: 2px;
}

.fc a {
    font-weight: normal;
    font-size: 11px;
    text-decoration: underline;
    float: left;
}


.read_more_a{
    float: none !important;
    padding: 0px 0 5px 0 !important;
}


/* //// contact //// */

.con_row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;;
}


.right {
    /* background-image: linear-gradient(#FDFDFD, #CCCCCC); */
    /* padding: 20px 10px; */
    flex-basis: 90px;
    padding:10px 3px;
}

.background{
    border-top: 0.5px solid lightgray ;
    background-image: linear-gradient(#FDFDFD, #CCCCCC);
}

.right a{
    color: #5c5c5c;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    
}

.center {
    flex-basis: 481px;
    padding: 0 10px;
    position: relative;
}

.center a, .center span{
    font-size: 12px;
    color: #5c5c5c;
    font-weight: normal;
    text-decoration: none;
}



.h3_con{
    border-bottom: none !important;
    color: #6d6d6d
}

.paz_blue {
    color: #005CA0;
}

.init_font{
    font-size: 13px;
    color: #6d6d6d;
}

.low_col_con {
    width: 293px;
    height: 171px;
    border-radius: 0 30px 0 0;
    border: 2px #ECECEC solid;
    background-image: linear-gradient( #FFFFFF, #ECECEC);
    padding: 10px 18px 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.form_con{
    width: max-content;
    /* height: 182px; */
    height: max-content;
    border-radius: 0 30px 0 0;
    border: 2px #ECECEC solid;
    background-image: linear-gradient( #FFFFFF, #ECECEC);
    padding: 10px 18px 15px;
    box-sizing: border-box;
}

.form_con input[type="text"]{
    width: 215px;
    padding: 3px;
    border: 1px solid #808992;
    border-radius: unset;
}

.form_con label{
    width: 75px;
    display: inline-block;
}

.iput_warper{
    margin-top: 5px;
}

form{
    padding: 20px;
}


.submit {
    /* float: left; */
    display: inline-block;
}

.form_con input[type="submit"]{
    width: 60px;
    padding: 3px;
    border: 1px solid #808992;
    border-radius: unset;
    float: left;
    background-color: #0492D3;
    color: white;
}

.con_header {
    position: absolute;
    top: 45px;
    width: 431px
}
